<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>Schedule website</h1>
<!-- table starts here -->
<div class="border border-primary">
<table class="table">
    <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Day</th>
            <th scope="col">Start At</th>
            <th scope="col">End At</th>
        </tr>
    </thead>
    <tbody>
        <% schedules.forEach(schedule=> { %>
            <tr>
                <td>
                    <%= schedule.user_id %>
                </td>
                <td>
                    <%= schedule.day %>
                </td>
                <td>
                    <%= schedule.start_at %>
                </td>
                <td>
                    <%= schedule.end_at %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
</div>

<!-- table ends here -->
</body>

</html>