<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>Schedule website</h1>
        <h2>Schedule List</h2>
<!-- table starts here -->
<div class="border border-primary tableDiv">
    <% schedules.forEach(schedule=> { %>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="fal\" aria-controls="collapseOne">
                        <%= schedule.id %>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card card-body">
                            <p>User ID: <%= schedule.id %>
                            </p>
                            <p>Day: <%= schedule.day %>
                            </p>
                            <p>Start Time: <%= schedule.start_time %>
                            </p>
                            <p>End Time: <%= schedule.end_time %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
</div>
<!-- table ends here -->
<!-- Add new Schedule -->
<div class="d-grid gap-2 newBtn">
    <a href="schedules/new"><button class="btn btn-primary" type="button">Create New Schedule</button></a>
</div>
<%- include('../partials/footer.ejs') %>
</body>

</html>