<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Schedule website</h1>
    <!-- table starts here -->
    <div class="border border-primary overflow-scroll">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.firstname %>
                    </td>
                    <td>
                        <%= user.lastname %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.password %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    </div>
    <!-- table ends here -->
</body>

</html>