<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Schedule website</h1>
    <h2>User Details</h2>
    <!-- table starts here -->
    <div class="border border-primary tableDiv">
        <% users.forEach(user=> { %>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="fal\" aria-controls="collapseOne">
                        <%= user.firstname %>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="card card-body">
                        <p>First Name: <%= user.firstname %></p>
                        <p>Last Name: <%= user.lastname %></p>
                        <p>Email: <%= user.email %></p>
                        <p>Password: <%= user.password %></p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <!-- Add new User -->
    <div class="d-grid gap-2 newBtn">
        <a href="newUser"><button class="btn btn-primary" type="button">Create New User</button></a>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>